@font-face {
	font-family: Product Sans Bold Italic;
	font-display: swap;
	src: url("../fonts/Product Sans Bold Italic.woff2") format("woff2"), url("../fonts/Product Sans Bold Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Product Sans Italic;
	font-display: swap;
	src: url("../fonts/Product Sans Italic.woff2") format("woff2"), url("../fonts/Product Sans Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Product Sans Bold;
	font-display: swap;
	src: url("../fonts/Product Sans Bold.woff2") format("woff2"), url("../fonts/Product Sans Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Product Sans Regular;
	font-display: swap;
	src: url("../fonts/Product Sans Regular.woff2") format("woff2"), url("../fonts/Product Sans Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
  